MONGO_URI=mongodb://<db_user>:<db_password>@ac-6fiuemj-shard-00-00.py9zhda.mongodb.net:27017,ac-6fiuemj-shard-00-01.py9zhda.mongodb.net:27017,ac-6fiuemj-shard-00-02.py9zhda.mongodb.net:27017/?ssl=true&replicaSet=atlas-10udbo-shard-0&authSource=admin&appName=vocko
MONGO_DB=vocko
# Thay <db_user> và <db_password> bằng tên người dùng và mật khẩu thực tế của bạn
